[package]
name = "gfx-backend-vulkan"
version = "0.1.0"
description = "Vulkan API backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-device-vulkan"
workspace = "../../.."

[features]
default = ["winit"]
portable = []

[lib]
name = "gfx_backend_vulkan"

[dependencies]
byteorder = "1"
log = "0.3"
lazy_static = "0.2"
shared_library = "0.1"
ash = "0.20.2"
gfx-hal = { path = "../../hal", version = "0.1" }
smallvec = "0.4"
winit = { version = "0.7", optional = true }
glsl-to-spirv = { version = "0.1", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = "0.2"
kernel32-sys = "0.2"
user32-sys = "0.2"

[target.'cfg(all(unix, not(target_os = "macos"), not(target_os = "ios"), not(target_os = "android")))'.dependencies]
x11 = { version = "2.15", features = ["xlib"]}
