[package]
name = "gfx-backend-vulkan"
version = "0.5.0"
description = "Vulkan API backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "MIT OR Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-backend-vulkan"
workspace = "../../.."
edition = "2018"

[features]
default = []
use-rtld-next = ["shared_library"]

[lib]
name = "gfx_backend_vulkan"

[dependencies]
arrayvec = "0.5"
byteorder = "1"
log = { version = "0.4" }
lazy_static = "1"
shared_library = { version = "0.1.9", optional = true }
ash = "0.30"
hal = { path = "../../hal", version = "0.5", package = "gfx-hal" }
smallvec = "1.0"
raw-window-handle = "0.3"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["libloaderapi", "windef", "winuser"] }
[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2.5"
core-graphics = "0.19"

[target.'cfg(all(unix, not(target_os = "macos"), not(target_os = "ios"), not(target_os = "android")))'.dependencies]
x11 = { version = "2.15", features = ["xlib"], optional = true }
xcb = { version = "0.9", optional = true }
