sudo: false
language: rust
cache:
  cargo: true
  directories:
   - $HOME/deps

rust:
  - stable
  - nightly
os:
  - linux
  - osx
branches:
  only:
    - staging
    - trying
    - master

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/7479b6691b7e5e40716a
    on_success: always
    on_failure: always
    on_start: false

before_install:
  - bash scripts/travis-before_install.sh

addons:
  apt:
    sources:
      # install a newer cmake since at this time Travis only has version 2.8.7
      - george-edison55-precise-backports
    packages:
      - xdotool
      - cmake
      - cmake-data
      - libxxf86vm-dev
      - libxinerama-dev
      - libxinerama1
      - libxcursor-dev
      - libxcursor1
      - libglfw-dev
      - libosmesa6-dev
      - libxi-dev
      - libxrandr-dev

script:
  - bash scripts/travis-script.sh
