skip_branch_with_pr: true
branches:
  except:
    - staging.tmp
environment:
  global:
    PATH: '%PATH%;C:\msys64\mingw64\bin;C:\msys64\usr\bin;%USERPROFILE%\.cargo\bin'
    RUST_BACKTRACE: full
  matrix:
  - CHANNEL: stable
    TARGET: x86_64-pc-windows-msvc
  - CHANNEL: stable
    TARGET: x86_64-pc-windows-gnu
  - CHANNEL: nightly
    TARGET: x86_64-pc-windows-msvc

skip_commits:
  files:
    - travis.yml
    - bors.toml
    - LICENSE-APACHE
    - LICENSE-MIT
    - '*.md'
    # TODO: this breaks bors on metal only commits
    #- src/backend/metal/**/*

install:
  - curl -sSf -o rustup-init.exe https://win.rustup.rs
  - rustup-init -yv --default-toolchain %CHANNEL% --default-host %TARGET%
  #- bash -lc "pacman -S --noconfirm mingw-w64-x86_64-cmake"
  - rustc -vV
  - cargo -vV

build: false
test_script:
  - C:\MinGW\bin\mingw32-make.exe all

#cache:
#  - target
#  - C:\Users\appveyor\.cargo\registry
