(
	resources: {
		"buffer.input": Buffer(
			size: 4,
			usage: (bits: 0x3), //TRANSFER_SRC | TRANSFER_DST
			data: "buffer.raw",
		),
		"buffer.output": Buffer(
			size: 4,
			usage: (bits: 0x2), //TRANSFER_DST
		),
		"buffer.large": Buffer(
			size: 8,
			usage: (bits: 0x2), //TRANSFER_DST
			data: "image.raw",
		),
		"image.input": Image(
			kind: D2(2, 1, 1, 1),
			num_levels: 1,
			format: Rgba8Unorm,
			usage: (bits: 0x1), //TRANSFER_SRC
			data: "image.raw",
		),
		"image.output": Image(
			kind: D2(1, 1, 1, 1),
			num_levels: 1,
			format: Rgba8Unorm,
			usage: (bits: 0x3), //TRANSFER_DST | TRANSFER_SRC
		),
		"buffer.fill-8-bytes": Buffer(
			size: 8,
			usage: (bits: 0x3), //TRANSFER_SRC | TRANSFER_DST
			data: "fill-8-bytes.raw",
		),
		"buffer.fill-10-bytes": Buffer(
			size: 10,
			usage: (bits: 0x3), //TRANSFER_SRC | TRANSFER_DST
			data: "fill-10-bytes.raw",
		),
	},
	jobs: {
		"copy-buf": Transfer(
			CopyBuffer(
				src: "buffer.input",
				dst: "buffer.output",
				regions: [
					(
						src: 0,
						dst: 0,
						size: 4,
					),
				],
			),
		),
		"copy-buf-cut": Transfer(
			CopyBuffer(
				src: "buffer.input",
				dst: "buffer.large",
				regions: [
					(
						src: 0,
						dst: 4,
						size: 2,
					),
				],
			),
		),
		"copy-image": Transfer(
			CopyImage(
				src: "image.input",
				dst: "image.output",
				regions: [
					(
						src_subresource:  (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						src_offset: (x: 0, y: 0, z: 0),
						dst_subresource:  (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						dst_offset: (x: 0, y: 0, z: 0),
						extent: (
							width: 1,
							height: 1,
							depth: 1,
						),
					),
				],
			),
		),
		"copy-buf-image": Transfer(
			CopyBufferToImage(
				src: "buffer.input",
				dst: "image.output",
				regions: [
					(
						buffer_offset: 0,
						buffer_width: 1,
						buffer_height: 1,
						image_layers: (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						image_offset: (x: 0, y: 0, z: 0),
						image_extent: (
							width: 1,
							height: 1,
							depth: 1,
						),
					),
				],
			),
		),
		"copy-image-buf": Transfer(
			CopyImageToBuffer(
				src: "image.input",
				dst: "buffer.output",
				regions: [
					(
						buffer_offset: 0,
						buffer_width: 1,
						buffer_height: 1,
						image_layers: (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						image_offset: (x: 1, y: 0, z: 0),
						image_extent: (
							width: 1,
							height: 1,
							depth: 1,
						),
					),
				],
			),
		),
		"clear-image": Transfer(
			ClearImage(
				image: "image.output",
				color: Float((0.5, 0.5, 0.5, 0.5)),
				depth_stencil: (0.0, 0),
				ranges: [
					(
						aspects: (bits: 0x1), //COLOR
						levels: (start: 0, end: 1),
						layers: (start: 0, end: 1),
					),
				],
			),
		),
		"blit-image": Transfer(
			BlitImage(
				src: "image.input",
				dst: "image.output",
				filter: Linear,
				regions: [
					(
						src_subresource:  (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						src_bounds: (
							start: (x: 0, y: 0, z: 0),
							end: (x: 2, y: 1, z: 1),
						),
						dst_subresource:  (
							aspects: (bits: 0x1), //COLOR
							level: 0,
							layers: (start: 0, end: 1),
						),
						dst_bounds: (
							start: (x: 0, y: 0, z: 0),
							end: (x: 1, y: 1, z: 1),
						),
					),
				],
			),
		),
		"fill-whole": Transfer(
			FillBuffer(
				buffer: "buffer.fill-8-bytes",
				start: Some(0),
				end: None,
				data: 0xFF0000,
			),
		),
		"fill-first": Transfer(
			FillBuffer(
				buffer: "buffer.fill-8-bytes",
				start: Some(0),
				end: Some(4),
				data: 0xFF00,
			),
		),
		"fill-last": Transfer(
			FillBuffer(
				buffer: "buffer.fill-8-bytes",
				start: Some(4),
				end: Some(8),
				data: 0xFF,
			),
		),
		"fill-whole-nearest-multiple": Transfer(
			FillBuffer(
				buffer: "buffer.fill-10-bytes",
				start: Some(0),
				end: None,
				data: 0xFF,
			),
		),
	}
)
