[package]
name = "gfx_device_gl"
version = "0.14.0"
description = "OpenGL backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx_device_gl"
workspace = "../../.."

[lib]
name = "gfx_device_gl"

[dependencies]
log = "0.3"
gfx_gl = "0.3.1"
gfx_core = { path = "../../core", version = "0.7" }
