[package]
name = "gfx-backend-gl"
version = "0.2.0"
description = "OpenGL backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "MIT OR Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-backend-gl"
workspace = "../../.."
edition = "2018"

[lib]
name = "gfx_backend_gl"

[features]
default = ["glutin"]

[dependencies]
bitflags = "1"
log = { version = "0.4" }
gfx_gl = "0.5"
gfx-hal = { path = "../../hal", version = "0.2" }
smallvec = "0.6"
spirv_cross = "0.12.1"
glow = { version = "0.1", path = "../../../../glow" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
glutin = { version = "0.20", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "0.3.6"
wasm-bindgen = "0.2.29"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.6"
features = [ "console", "Document", "Element", "HtmlCanvasElement", "WebGlBuffer", "WebGlRenderingContext", "WebGl2RenderingContext", "WebGlProgram", "WebGlSampler", "WebGlShader", "WebGlTexture", "Window" ]
