[package]
name = "gfx-backend-gl"
version = "0.1.0"
description = "OpenGL backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-backend-gl"
workspace = "../../.."

[lib]
name = "gfx_backend_gl"

[features]
default = ["glutin"]

[dependencies]
log = "0.3"
gfx_gl = "0.3.1"
gfx-hal = { path = "../../hal", version = "0.1" }
smallvec = "0.4"
glutin = { version = "0.9", optional = true }
