[package]
name = "gfx-backend-gl"
version = "0.1.0"
description = "OpenGL backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-backend-gl"
workspace = "../../.."

[lib]
name = "gfx_backend_gl"

[features]
default = ["glutin"]

[dependencies]
bitflags = "1"
log = "0.4"
gfx_gl = "0.3.1"
gfx-hal = { path = "../../hal", version = "0.1" }
smallvec = "0.6"
glutin = { version = "0.12", optional = true }
spirv_cross = "0.7"
