[package]
name = "gfx-backend-gl"
version = "0.3.0"
description = "OpenGL backend for gfx-rs"
homepage = "https://github.com/gfx-rs/gfx"
repository = "https://github.com/gfx-rs/gfx"
keywords = ["graphics", "gamedev"]
license = "MIT OR Apache-2.0"
authors = ["The Gfx-rs Developers"]
readme = "README.md"
documentation = "https://docs.rs/gfx-backend-gl"
workspace = "../../.."
edition = "2018"
build = "build.rs"

[lib]
name = "gfx_backend_gl"

[features]
default = []
wgl = []

[dependencies]
bitflags = "1"
log = { version = "0.4" }
gfx-hal = { path = "../../hal", version = "0.3" }
smallvec = "0.6"
glow = "0.2.2"
spirv_cross = { version = "0.14.0", features = ["glsl"] }
lazy_static = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
glutin = { version = "0.21", optional = true }
winit = { version = "0.19", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "0.3.6"
wasm-bindgen = "0.2.39"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.6"
features = [
    "console",
    "Document",
    "Element",
    "HtmlCanvasElement",
    "HtmlElement",
    "Node",
    "Performance",
    "WebGlBuffer",
    "WebGlRenderingContext",
    "WebGl2RenderingContext",
    "WebGlProgram",
    "WebGlSampler",
    "WebGlShader",
    "WebGlTexture",
    "Window",
]

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3" }

[build-dependencies]
gl_generator = "0.11"
