{
	"large": {
		"copy": (
			features: (bits: 0),
			jobs: ["init", "copy", "copy", "copy", "copy"],
		),
		"blit": (
			features: (bits: 0),
			jobs: ["init", "blit", "blit", "blit", "blit"],
		),
		"shader-copy": (
			features: (bits: 0),
			jobs: ["init", "shader", "shader", "shader", "shader"],
		),
	},
}
